.hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #FD8F0E;
}

.texts {
    color: #fff4e1;
    width: 40%;
    text-align: start;
}

.texts button {
    border: #e16e02 solid 3px;
    background-color: transparent;
    color: #fff4e1;
    padding: 15px 18px;
    border-radius: 15px;
    font-weight: 600;
    transition: all .3s ease;
}

.texts button:hover {
    background-color: #fff4e1de;
    color: #e16e02;
}