  .escolha_pratos {
    margin: 20px 30px  0 30px;
  }
  
  .botoes {
    padding: 20px;
    margin: 10px 60px 10px 60px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .botao {
    color: #ffffff;
    background-color: #fabc52;
    border: 2px solid #E16D02;
    border-radius: 5px;
    padding: 10px ;
  }

  .botao:hover{
    box-shadow: 0 0 10px rgb(238, 67, 5);
    border: 2px solid #E16D02;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #fff4e1;
    border: 3px solid #E16D02;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: all ease 0.3s;
  }
  
  .card:hover{
    
    box-shadow: 0 0 10px rgb(238, 67, 5);
  }
  
  .card-title {
    color: #E16D02;
  }

  .card button{
    background-color: #E16D02;
    color: #ffffff;
    border: solid 2px rgb(238, 67, 5);
    border-radius: 10px;
    padding:  5px 10px 5px 10px;
    transition: ease 0.6s;
  }
  
  .card button:hover{
    background-color:#FFA033FF;
    color: #ffffff;
  }
  