*{
    margin: 0;
    padding: 0;
}

p{
  margin: 0;
}

.main-footer {
    background-color: #3f3f3f;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    
  }
  
  .footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-columns > * { 
    flex-basis: 25%; 
  }
  
  .footer { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E16D02;
    height: 35px;
  }

  h6{
    margin: 0;
  }

  div.social-media i:hover{
    color: #E16D02;
    scale: 1.5;
  }

  div.social-media i {
    padding: 10px;
    transition: 0.5s;
  }


  div.footer-links{
    padding: 10px;
    margin: 10px;
  }

  div a{
    color: white;
    text-decoration: none;
  }

  div a:hover {
    color: #E16D02;
  }


  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
    }
    .footer-columns > * {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  

  @media (max-width: 480px) {
    .footer-columns > * {
      margin-bottom: 10px;
    }
    .footer {
      padding: 5px;
    }
  }