.stars i{
    color:rgb(255, 208, 0);
    font-size: 35px;
    padding: 5px;
}
.img{
    width: 400px;
}
.depoimento{
    background: url("../../images/tela_circulo.png");
    min-height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.stars{
    padding: 17px;
}
.comentario {
    font-size: 30px;
    font-family: "Playfair Display";
    color: #000000;
}
.texto p{
    width: 900px;
    text-align: center;
}


.carousel-control-prev-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  }

.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  }

@media screen and (max-width: 900px) {
    .depoimento{
        width: 100%;
    }
    .texto p{
        width: 100%;
        font-size: 25px;
    }
    .img{
        width: 300px;
    }
    .stars i{
        font-size: 31px;
    }
    .depoimento{
        background: url("../../images/tela_circulo_mobile.png");
    }
}